@using EGCad.Common.Extensions
@model EGCad.Common.Model.Normalize.NormalizeData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Таблица нормированных значений</h2>
<table class="table table-condensed table-bordered table-striped">
    <thead>
        <tr>
            <th class="col-sm-1">Id</th>
            @if (Model.Rows.Any())
            {
                foreach (var v in Model.Rows[0].Values)
                {
                    <th class="col-sm-1"></th>
                }
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model.Rows)
        {
            <tr>
                <td>@(int.Parse(row.RowIdx.ToStr())+1)</td>
                @if (row.Values.Any())
                {
                    foreach (var value in row.Values)
                    {
                        <td>@Math.Round(value,2)</td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
