@model EGCad.Models.IndexViewModel
@{
	ViewBag.Title = "Manage";
	Layout = "~/Views/Shared/_LogOnLayout.cshtml";
}
<h2>Управление настройками аккаунта</h2>
<div>
	<label>Пароль:</label>
	<span>
		[
		@if (Model.HasPassword)
		{
			@Html.ActionLink("Изменить пароль", "ChangePassword")
		}
		else
		{
			@Html.ActionLink("Create", "SetPassword")
		}
		]
	</span>
</div>
