@model EGCad.Core.Input.GeoData
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header">
    <h2>Собранные данные</h2>
</div>
@Html.DisplayForModel()
<div class="form-group">
    <a href="@Url.Action("DisplayClusterizedData")" class="btn margined btn-primary pull-left">Показать результаты кластеризации</a>
	<a href="@Url.Action("DisplayNormalizedData")" class="btn margined btn-primary pull-left">Показать нормализованные данные</a>
	<a href="@Url.Action("DisplayVariabilityFunctionData")" class="btn margined btn-primary pull-left">Показать обобщенную функцию изменчивости</a>
</div>