@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <h2>Ввод и масштабирование карты</h2>
</div>
<div class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-9">
            <label>Выполните следующие действия:</label>
            <ul>
                <li id="loadMapStep">Загрузите изображение</li>
                <li id="specifyStartStep">Укажите на карте стартовую точку (обозначена зеленым)</li>
                <li id="specifyEndStep">Укажите на карте конечную точку (обозначена красным) </li>
                <li id="specifyLengthStep">Введите n  в поле и сохраните</li>
            </ul>
        </div>
        <div class="col-sm-3">
            <a href="@Url.Action("Index","Parameters")" id="nextStep" class="btn btn-default inactive pull-right">Далее</a>
        </div>
    </div>
    <form action="map/load" id="upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <div class="col-sm-5">
                <span style="margin-right:10px; ">
                    <input type="file" name="map" id="map" accept="image/*" title="Загрузите карту *.jpg / *.png" />
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-7">
                <div style="display: table">
                    <span class=" bold" style="display: table-cell; padding: 7px;">Расстояние между точками :</span>
                    <span style="display: table-cell; padding: 7px;">
                        <span id="editable" class="input-group">
                            <input id="endPoint" placeholder="100" type="number" class="form-control">
                            <span id="save" class="input-group-addon btn glyphicon glyphicon-ok"></span>
                        </span>
                    </span>
                    <span style="display: table-cell;padding: 7px;"> метров.</span>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="form-group">
    <div><label>Масштаб карты  </label><span id="scaleLabel" style="margin-left: 10px"> - </span>  м.</div>
    <canvas width="400px" height="200px" id="map-container">
        Здесь должна быть отображена загруженная карта.
        Для работы с приложением обновите браузер.
        Минимальная поддерживаемая версия браузеров:
        Internet Explorer 10+, 	Google Chrome 38+, FireFox
    </canvas>
</div>
<div class="form-group">

</div>
<script type="text/javascript">
    $(document).ready(function () {
        var container = $('#main');

        var sender = new egcad.Data.Sender();
        sender.get("GetState", '@Url.Action("GetState","Map")', {},
             function (response) {
                 if (response && response.statusCode == 0) {
                     if (response.data.Map) {
                         var map = response.data.Map;
                         refreshStatus(map);
                     }
                 }
             });

        container.find('input[type=file]').bootstrapFileInput();
        container.find('input[type=file]')[0].onchange = function (e) {
            $('#upload').trigger('submit');
        };

        $('#upload').submit(function (e) {
            sender.post("UploadMap", '@Url.Action("Load","Map")', {},
                function (response) {
                    if (response && response.statusCode == 0) {
                        // clear form and initialize

                        var form = container.find('#upload');
                        form.find('.file-input-name').empty('');
                        form.find('input[type="file"]').val('');

                        var map = response.data.Map;

                        refreshStatus(map);
                    }

                    if (response.statusCode == 2) {
                        setStatus("#loadMapStep", "error");
                        alert('Ошибка при загрузке карты!' + response.data.message);
                    }
                },
                function (request, status, error) {
                    setStatus("#loadMapStep", "error");
                }, {
                    data: new FormData(this),
                    processData: false,
                    contentType: false,
                });
            e.preventDefault();
        });

        container.find('#editable').on('keypress', function (event) {
            if (event.which == 13) {
                event.preventDefault();
                saveEndPointLength();
            }
        });

        container.find("#editable #save").on("click", saveEndPointLength);

        function initCanvas(map) {
            if (!map.Image) return;

            var width = map.Image.Size.Width;
            var height = map.Image.Size.Height;

            var img = new Image(width, height);
            img.src = map.ImgSrc;
            img.onload = function () {
                var canvas = $('#map-container')[0];
                canvas.width = width;
                canvas.height = height;

                var ctx = canvas.getContext('2d');
                ctx.drawImage(img, 0, 20, width, height);

                $('#map-container').off();
                $(canvas).on('mousedown', function (event) {
                    var x = event.clientX;
                    var y = event.clientY;

                    x -= canvas.getBoundingClientRect().left;
                    y -= canvas.getBoundingClientRect().top;

                    pointHandle(x, y);
                });

                if (map.ScaleKoef > 0) drawScale(canvas, ctx, map.ScaleKoef, 10, 20);

                if (!map.Start.IsEmpty) {
                    drawPoint(ctx, map.Start.X, map.Start.Y, 4, '#afa', '#0f0'); //start
                }

                if (!map.End.IsEmpty) {
                    drawPoint(ctx, map.End.X, map.End.Y, 4, '#faa', '#f00'); //end
                }
            };
        }

        function pointHandle(x, y) {
            var modal = new Modal();
            modal.setTitle('Сохранить точку');
            modal.getContentElement().append('Выберите тип точки');
            modal.setButtons([
                {
                    label: 'Начальная',
                    cssClass: 'btn',
                    callback: function () {
                        sendPointData(x, y, true);
                        modal.hide();
                        modal.destroy();
                    }
                },
                {
                    label: 'Конечная',
                    cssClass: 'btn',
                    callback: function () {
                        sendPointData(x, y, false);
                        modal.hide();
                        modal.destroy();
                    }
                },
                {
                    label: 'Закрыть',
                    cssClass: 'btn',
                    callback: function () {
                        modal.hide();
                        modal.destroy();
                    }
                }
            ]);
            modal.show();
        }

        /*
        * x,y - coords,
        * pointType=true is start point
        * pointType=false is end point
        */
        function sendPointData(x, y, pointType) {
            sender.get("savePointCoords", "map/SavePoint", { x: x, y: y, pointType: pointType },
                function (response) {
                    if (response && response.statusCode == 0) {
                        refreshStatus(response.data.Map);
                    } else {
                        setStatus("#specifyStartStep", 'error');
                        setStatus("#specifyEndStep", 'error');
                    }
                },
                function () {
                    setStatus("#specifyStartStep", 'error');
                    setStatus("#specifyEndStep", 'error');
                },
                {});
        }

        function saveEndPointLength() {
            var value = container.find('#endPoint').val();

            if (!value) return;

            sender.get("saveEndPoint", "map/EndpointLength", { x: value },
                function (response) {
                    if (response && response.statusCode == 0) {
                        refreshStatus(response.data.Map);
                    } else {
                        setStatus("#specifyLengthStep", 'error');
                    }
                },
                function () {
                    setStatus("#specifyLengthStep", 'error');
                },
                {});
        };

        function drawPoint(context, centerX, centerY, radius, color, strokeColor) {
            context.beginPath();
            context.arc(centerX, centerY, radius, 0, 2 * Math.PI, false);
            context.fillStyle = color;
            context.fill();
            context.lineWidth = 1;
            context.strokeStyle = strokeColor;
            context.stroke();
        }

        function drawScale(canvas, ctx, scale, tileCount, thickness) {
            var tileLength = Math.ceil(canvas.width / tileCount);

            $('#scaleLabel').html(Math.round(scale * tileLength));

            for (var i = 0; i < tileCount; i++) {
                if (i % 2 == 0) {
                    ctx.fillRect(tileLength * i, 0, tileLength, thickness);
                } else {
                    ctx.rect(tileLength * i, 0, tileLength, thickness - 1);
                    ctx.stroke();
                }
            }
        }

        function refreshStatus(map) {
            initCanvas(map);
            $('#endPoint').val(map.EndT.X);
            var $btn = container.find('#nextStep');

            if (map.IsValid) {
                $btn.removeClass('btn-default inactive').addClass('btn-success');
            } else {
                $btn.removeClass('btn-success').addClass('btn-default inactive');
            }

            container.find('#loadMapStep').attr('class', map.Image ? 'ok' : 'error');
            container.find('#specifyStartStep').attr('class', !map.Start.IsEmpty ? 'ok' : 'error');
            container.find('#specifyEndStep').attr('class', !map.End.IsEmpty ? 'ok' : 'error');
            container.find('#specifyLengthStep').attr('class', !map.EndT.IsEmpty ? 'ok' : 'error');
        }

        function setStatus(selector, clazz) {
            container.find(selector).attr('class', clazz);
        }
    });
</script>
@*
    <div class="">
                        <table class="table table-bordered table-condensed " style="max-width: 500px;">
                            <thead>
                            <th class="col-sm-4"></th>
                            <th class="col-sm-4">X</th>
                            <th class="col-sm-4">Y</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Начальная точка</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>Конечная точка</td>
                                    <td id="editable">
                                        <div class="input-group">
                                            <input id="endPoint" placeholder="100" type="number" class="form-control">
                                            <span id="save" class="input-group-addon btn glyphicon glyphicon-ok"></span>
                                        </div>
                                    </td>
                                    <td>0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>*@