.file-input-wrapper {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

    .file-input-wrapper input[type=file],
    .file-input-wrapper input[type=file]:focus,
    .file-input-wrapper input[type=file]:hover {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
        z-index: 99;
        outline: 0;
    }

.file-input-name {
    margin-left: 10px;
}

.table thead > tr > th,
.table tbody > tr > td {
    text-align: center;
}

.table.half {
    width: 50%;
}

.table tbody > tr > td {
    vertical-align: middle;
}

.margined {
    margin: 10px;
}

.input-group-addon.glyphicon {
    top: 0;
}

.btn.glyphicon-ok:hover {
    color: green;
}

.glyphicon-ok {
    color: #5cb85c;
}

.ok {
    color: #5cb85c;
}

.error {
    color: #f66;
}

.page-header {
    margin: 20px 0 10px;
}

a.remove-action:hover {
    text-decoration: none;
    color: #fa8072;
}

.action:hover {
    text-decoration: none;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 16px sans-serif;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
}

line {
    stroke: black;
}

.bold {
    font-weight: bold;
}

canvas {
    box-shadow: 2px 3px 9px 3px rgba(0,0,0,0.12);
}

    canvas#tip {
        background-color: white;
        border: 1px solid blue;
        position: absolute;
        left: -200px;
        top: 100px;
    }

.btn.inactive {
    opacity: 0.6;
    pointer-events: none;
    user-select: none;
}

    .btn.inactive:hover {
        cursor: default;
    }

#action-panel {
    position: fixed;
    opacity: 0.3;
    background: #58a772;
    padding: 3px 15px;
    top: 60px;
    right: 5px;
    border-radius: 8px;
    right: 0px;
    z-index: 1025;

    -moz-transition: background 0.5s 0 linear;
    -o-transition: background 0.5s 0 linear;
    -webkit-transition: background 0.5s 0 linear;
    transition: background 0.5s 0 linear,opacity 0.5s 0 linear;
}

    #action-panel:hover {
        background: #93C7A3;
        opacity: 1;
        transition: opacity 0.5s 0 linear;
    }

        #action-panel:hover svg rect,
        #action-panel:hover svg path {
            fill: #fdfdfd;
            cursor: pointer;
        }

    #action-panel svg {
        position: relative;
        width: 40px;
        height: 40px;
        margin: 3px;
        opacity: 1;
        fill: #ffffff;
    }

