
/* side bar styles */

BODY.view-compact #nav .btn-navbar {
    display: block;
}

BODY.view-compact #nav .btn-sticker-mode,
BODY.view-compact #nav > ul {
    display: none;
}

BODY.view-compact #nav {
    width: 45px;
    /*transition: width 1s ease 0s;*/
}

    BODY.view-compact #nav.hover {
        z-index: 10000;
        background-color: #2f4050;
        box-shadow: 1px 0 3px rgba(0, 0, 0, 0.1);
        width: 170px;
    }

        BODY.view-compact #nav.hover .btn-navbar {
            display: none;
        }

        BODY.view-compact #nav.hover .btn-sticker-mode,
        BODY.view-compact #nav.hover > ul {
            display: block;
        }


#nav .btn-navbar {
    padding: 9px 10px;
    display: none;
    margin-top: 9px;
}

    #nav .btn-navbar .icon-bar {
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
        background: #fff;
    }

        #nav .btn-navbar .icon-bar + .icon-bar {
            margin-top: 4px;
        }

#nav .btn-sticker-mode {
    position: absolute;
    z-index: 2;
    right: 0;
}

    #nav .btn-sticker-mode A {
        display: inline-block;
        padding: 10px;
    }

    #nav .btn-sticker-mode A {
        color: #a7b1c2;
    }

        #nav .btn-sticker-mode A:hover {
            color: #fff;
        }

#nav {
    position: fixed;
    top: 51px;
    bottom: 0;
    margin: 0;
    width: 170px;
    overflow: auto;
    background-color: #2f4050;
    z-index: 1001;
}

    #nav > ul {
        list-style: none outside none;
        margin-bottom: 0;
        margin-top: 0;
	    padding: 0;
    }

        #nav > ul > li > a {
            color: #a7b1c2;
            display: block;
            line-height: 21px;
            outline: 0 none;
            padding: 19px 14px 15px;
        }

        #nav > ul > li {
            position: relative;
        }

		 #nav > ul > li.active {
			 border-left: 4px solid #19aa8d;
			 background: #293846;
		 }

		  #nav > ul > li:hover {
			  background: #293846;
		  }

            #nav > ul > li.active > a,
            #nav > ul > li > a:hover {
                color: #fff;
                text-decoration: none;
            }

            #nav > ul > li.active a {
                font-weight: 600;
            }

.navbar-brand sup {
    top: 0;
}

.body-content {
    padding-left: 0;
}

BODY.view-compact #main {
    margin-left: 60px;
}

#main {
    position: relative;
    margin-left: 185px;
    margin-bottom: 100px;
    min-height: 500px;
    min-width: 400px;
}

.ui-notifier {
    display: block;
    position: absolute;
    top: 29px;
    left: 35%;
    z-index: 1050;
}

.alert-actions-container * {
    margin: 0 10px;
}
