@using EGCad.Common.Infrastructure
@model EGCad.Common.Model.Data.CalculationParameter
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Model.AdditionalPointCount = (int?)Session["AdditionalPointCount"] ?? 0;
	Model.ClusterCount = (int?)Session["ClusterCount"] ?? 0;
    Model.Normilize = (NormalizeType?)Session["Normilize"] ?? NormalizeType.EuklideanAveraged;
    Model.StatCalculation = (StatCalculationType?)Session["StatCalculationType"] ?? StatCalculationType.Euclead;
}

<div class="page-header">
    <h2>Способ расчета</h2>
</div>

@using (Html.BeginForm())
{

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-4"><label class="form-control-static ">Количество дополнительных точек:</label></div>
            <div class="col-sm-8"><input type="number" id="AdditionalPointCount" name="AdditionalPointCount" class="form-control" placeholder="2" value="@Model.AdditionalPointCount"/></div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-4"><label class="form-control-static ">Количество кластеров:</label></div>
            <div class="col-sm-8"><input type="number" id="ClusterCount" name="ClusterCount" class="form-control" placeholder="3" value="@Model.ClusterCount" /></div>
        </div>

        <div class="form-group">
            <div class="col-sm-4"><label class="form-control-static ">Cпособ нормирования:</label></div>
            <div class="col-sm-8">@Html.EnumDropDownListFor(x => x.Normilize)</div>
        </div>

        <div class="form-group">
            <div class="col-sm-4"><label class="form-control-static ">Способ расчета статистического расстояния:</label></div>
            <div class="col-sm-8">@Html.EnumDropDownListFor(x => x.StatCalculation)</div>
        </div>
        <input type="submit" class="btn btn-primary pull-right" value="Сохранить" />
    </div>
}